n8n workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Internship Deadline Reminder for {{ $('Execute a SQL query').item.json.title }}",
        "message": "=The internship{{ $('Execute a SQL query').item.json.title }}, {{ $('Execute a SQL query').item.json.description }} deadline is tomorrow i.e,{{ $('Execute a SQL query').item.json.deadline }}. Apply before it closes.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        224
      ],
      "id": "b30a096e-08b5-4e4e-8f93-8c020c1d83f6",
      "name": "Send a message1",
      "webhookId": "b579c013-4e09-44f3-86c2-406893a56809",
      "credentials": {
        "gmailOAuth2": {
          "id": "eMj8IIgLcTEfFudX",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        224
      ],
      "id": "a0b50b1c-0ec5-46ea-a5cf-884b719ac92a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, deadline\nFROM internships\nWHERE deadline = CURDATE() + INTERVAL 1 DAY;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        224
      ],
      "id": "943d4d99-ef67-446f-9b3e-d8a5bb5cd37f",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "pE93asev1tMTI5vU",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.email, i.id AS internship_id, i.title, i.deadline, s.id AS sub_id\nFROM internships i\nJOIN subscriptions s ON i.id = s.internship_id\nJOIN users u ON u.id = s.user_id\nWHERE i.deadline = CURDATE() + INTERVAL 1 DAY\nAND s.notified = 0;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        432,
        224
      ],
      "id": "8a900ddb-b0f2-4182-8c74-ab403e2f5907",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "pE93asev1tMTI5vU",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE subscriptions\nSET notified = 1\nWHERE id ={{ $('Execute a SQL query1').item.json.sub_id }} ;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        880,
        224
      ],
      "id": "8076cf64-9665-45ff-b776-c7a85dcfbb2d",
      "name": "Execute a SQL query2",
      "credentials": {
        "mySql": {
          "id": "pE93asev1tMTI5vU",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ebe4f081-0886-4ffc-a5e0-fbcc4347e131",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6436339a9016b2c45f0111941d6dd4b9c5588fab9441c11a1b81cdde5dced9c1"
  },
  "id": "JmziAfnqiyLtkVkg",
  "tags": []
}